/* Keyframes */

@keyframes rotate {

  0% {
    transform: rotate(5deg);
  }
}

@keyframes growup {

  0% {
    transform: scale(1.1);
  }
}

/* Animation style and positioning */

.graphic {
  z-index: -1000;
  display: flex;
  flex-flow: column;
  width: 300px;

  .graphic-brain {
    align-self: center;
    animation: growup;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .graphic-triangle {
    z-index: 1;
    align-self: center;
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
