/* Contact section style */


.contact {

  padding-right: 22%;
  padding-left: 22%;
  font-family: $font-family-sans-serif;

  label {
    color: $black;
  }

  h1 {
    font-size: 70px;
    color: $link-text;
  }

  .form-check-label {
    color: $main-text;
  }
}
