/* Curriculum section dd style */

.curriculum {

  .curriculum-description-list {
    font-size: $font-size-litle;
  }

  .curriculum-description-list:hover {
    font-size: $font-size-medium;
    transition: all .3s cubic-bezier(.65, .05, .36, 1);
  }
}
