/* Description section style */

.descripcion {

  text-align: center;

  .flex {
    justify-content: space-evenly;
  }

  /* Graphic resize and positioning */

  .graphic-brain {
    width: 30%;
  }

  .graphic-triangle {
    margin-top: -55%;
  }

  .graphic {
    position: absolute;
  }

  .descripcion-p {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 0;
    margin-left: 20px;
    font-size: $font-size-litle;
    line-height: 25px;
    text-align: left;
    vertical-align: middle;
  }

  /* MediaQueries */

  @media (min-width: 768px) {

    .descripcion-p {
      width: 60%;
      font-size: $font-size-medium;
      line-height: 35px;
    }
  }

  @media (min-width: 1200px) {

    .descripcion-p {
      width: 60%;
      font-size: $font-size-medium-big;
      line-height: 45px;
    }
  }
}

/* Image of Gpratpl */

.me {
  z-index: 1000;
  height: 300px;
}

.me:hover {

  filter: grayscale(1);
}

