

/* Global Main styles */

.body {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family-code;
  color: $main-text;
  background-color: $uoc-bg;
}

.footer {
  padding: 30px;
  margin-top: 100px;
  background-color: #000;

  a {
    padding: 10px;
    font-size: $font-size-medium;
  }

  .right {
    font-size: $font-size-big;
    font-weight: bolder;
  }
}

h3 {
  margin-top: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-title;
  color: $color-green;
}

section,
head {
  padding: 30px;
}

/* Global description lists */

dd {

  span {
    color: $color-hover;
  }
}

dl {

  dd,
  dt {
    font-size: $font-size-medium;
  }

  dd{
    margin-inline: 0;
    padding: 8px;
  }

  dt {
    padding-bottom: 20px;
  }

  dt:not(:first-child) {
    padding-top: 30px;
  }

  @media (min-width: 768px) {

    dd,
    dt{
      font-size: $font-size-medium-big;
    }
  }

  @media (min-width: 1200px) {

    dd,
    dt{
      font-size: $font-size-big;
    }
  }
}

/* Links and icons */

a {
  color: $link-text;
  text-decoration: none;
}

a:hover,
i:hover {
  color: mix($color-hover, $link-text, 70%);
  transition: all .5s ease;
  transform: scale(1.5);
}

/* Positioning */

.right {
  float: right;
}

/* MediaQueries */

@media (min-width: 768px) {

  h3 {
    margin-top: 50px;
    font-size: $font-size-title;
  }

  .flex {
    display: flex;
    padding-right: 8%;
    padding-left: 8%;

    section:first-child {
      width: 40%;
    }
  }
}

@media (min-width: 1200px) {

  h3 {
    font-size: $font-size-big-desktop;
  }
}
