

nav {
  position: absolute;
  right: 50px;

  a { 
    font-size: $font-size-medium-big;
    font-weight: 600;
    color: $link-text;
    text-decoration: none;
  }
}

.nav-bar {
  list-style: none;
  
  li {
    display: inline-block;
  }
}