/* Navigation style */

.navigation-nav {
  position: absolute;
  right: 50px;

  .navigation-a {
    font-size: $font-size-medium-big;
    font-weight: 600;
    color: $link-text;
    text-decoration: none;
  }

  .navigation-li {
    list-style: none;
  }
}
