/* First section style */

.portada {
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding-top: 6%;
  padding-bottom: 3%;

  .portada-title {
    font-size: $font-size-big;
    font-weight: 700;
    color: $title-text;
  }

  .portada-subtitle {
    font-size: $font-size-medium;
    color: $secondary-text;
  }

  .portada-code {
    display: none;
    font-size: $font-size-medium;

    .code-paragraph {
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: $font-family-code;
      font-weight: 700;
    }

    .code-padding {
      padding-left: 40px;
    }
  }

  /* MediaQueries */

  @media (min-width: 768px) {

    .portada-code {
      display: inline-block;
    }

    .portada-title {
      font-size: $font-size-big-tablet;
    }

    .portada-subtitle {
      font-size: $font-size-medium-big;
    }
  }

  @media (min-width: 1200px) {

    .portada-code {
      display: inline-block;
      font-size: $font-size-big;
    }

    .portada-title {
      font-size: $font-size-title;
    }

    .portada-subtitle {
      font-size: $font-size-big;
    }
  }
}

/* Backgound image */

.image {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/portada-phone.webp");
  background-size: cover;
}

@media (min-width: 768px) {

  .image {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/portada-tablet.webp");
  }
}

@media (min-width: 1200px) {

  .image {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../images/portada-desktop.webp");
  }
}
