.portada {
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding-top: 6%;
  padding-bottom: 3%;
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/portada2.jpg?");
  background-size: cover;
    
  .primary-title {
    font-size: $font-size-big;
    font-weight: 700;
    color: $color-green;
  }
  
  .secondary-title {
    font-size: $font-size-medium;
    color: $color-hover;
  }

  .code {
    display:none;
    font-size: $font-size-medium;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: $font-family-code;
      font-weight: 700;
    }
    
    .code-padding {
      padding-left: 40px;
    }
  }


  @media (min-width: 768px) {
    .code {
      display:inline-block;
    }

    .primary-title {
      font-size: $font-size-big-tablet;
    }

    .secondary-title {
      font-size: $font-size-medium-big;
    }
  
  }

  
  @media (min-width: 1200px) {
    .code {
      display:inline-block;
      font-size: $font-size-big;
    }

    .primary-title {
      font-size: $font-size-title;
    }

    .secondary-title {
      font-size: $font-size-big;
    }
  }
  
}
