/* Skills section style and list hover elements */

.skills {
  margin-right: 8%;
  text-align: right;

  dd:hover {
    color: mix($secondary-text, $link-text, 70%);
    transition: all .5s ease;
  }

}
