@use "sass:color";

/* fonts */

@font-face {
  font-family: "OCR A EXTENDED";
  src: url("../fonts/OCR\ A\ Extended\ V1.woff");
  font-display: swap;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Medium.woff");
  font-display: swap;
}

$font-family-sans-serif: montserrat, helvetica, arial, sans-serif;
$font-family-code:  "OCR A Extended", monospace;
$font-size-big-desktop: 70px;
$font-size-title: 50px;
$font-size-big: 30px;
$font-size-big-tablet: 35px;
$font-size-medium-big: 25px;
$font-size-medium: 20px;
$font-size-litle: 16px;

/* Colors */

$main-text: #fff;
$title-text: #c8d368;
$link-text: #aa4f4f;
$secondary-text: #52dbfb;
$main-bg: #353535;
